streamlit==1.33.0
requests
beautifulsoup4
opencv-python
rembg==2.0.50
fpdf
openai>=1.0.0
python-dotenv
Pillow==9.5.0
numpy
torch==2.1.2
gdown
torchvision
pycocotools
onnxruntime
torchvision
pycocotools
datetime